body {
   background-color: rgb(237, 179, 108);
   text-align: center;
}

.list{
   display: block;
   text-align: left;
}

.box{
   display: flex;
   justify-content: center;
}

.list span {
   padding: 10px;
}